*, *:before, *:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'PT Sans Narrow', 'sans';
	text-decoration: none;
	background-color: #fff;
	color: #444;
}

header {
	display: grid;
	grid-template-rows: 70px;
	grid-template-columns: 1fr;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 11px;
	text-transform: uppercase;
	box-shadow: 0px 5px 24px -9px rgba(189, 189, 189, 0.5);
}
li {
	list-style: none;
}
li > a {
	text-decoration: none;
}
.logo {
	color: #333743;
	background-color: #fff;
	width: 23px;
	height: 34px;
	margin-right: 60px;
	margin-left: 20px;
}
nav {
    display: grid;
    grid-template-columns: 450px 240px;
    justify-content: space-between;
    align-content: center;
}
nav > ul.left-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    width: 450px;
    margin-left: 20px;
    align-items: center;
}
.left-menu > li > a {
    color: #9297a3;
}
nav > ul.right-menu {
	display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-column-gap: 0px;
    align-content: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #333743;
    text-transform: initial;
}
nav > ul > li {
	display: flex;
	align-items: center;
	height: 70px;
}
nav > ul.right-menu > li {
	justify-content: center;
	align-items: center;
}
nav > ul.right-menu > .bag {
	border-right: 1px solid #dedede;
    display: flex;
    height: 70px;
    align-items: center;
    list-style: none;
    padding-right: 40px;
}
nav > ul.right-menu > .login {
	padding-left: 15px;
}
nav > ul.right-menu > .signup {
    opacity: .7;
    border-left: 1px solid #000;
    height: 10px;
    align-self: center;
    padding-right: 15px;
}
nav > ul.right-menu > .bag .counter {
	font-family: 'Georgia', serif;
	font-size: 11px;
	font-weight: 300;
    background: #333743;
    color: #fff;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 7px;
    margin-left: 15px;
}
.left-menu > li.active-menu-item > a {
	color: #333743;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 480px));
    grid-gap: 110px;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 100px;
}
.photos {
	display: grid;
    grid-gap: 15px;
    grid-template-columns: 110px 420px;
    justify-self: end;
}
.side-photos {
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 148px 148px;
}
.content {
    display: grid;
    grid-template-rows: 30px 100px 1fr 250px 200px;
    text-align: center;
    padding-top: 10px;
}
.content .breadcrumbs {
	font-family: 'Georgia', serif;
	font-size: 12px;
	color: #9fcede;
}
.content .breadcrumbs:before {
	content: '\2642';
	margin-right: 5px;
	font-size: 1.3em;
}
.content h2 {
	font-family: 'Georgia', 'serif';
	font-size: 22px;
	font-weight: 300;
	color: #303032;
}
.content .desc {
	padding: 0 20px;
}
.content form {
    display: grid;
    grid-template-rows: 30px 120px 1fr;
}
.content form label {
	margin-bottom: 10px;
}
.content form .options {
	display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: -17px;
}
.content form .options > input[type=radio] {
	display: none;
}
.content form .options .color-box {
	display: inline-block;
	position: relative;
	top: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
}
.content form .options .color-name {
	font-family: 'Georgia', 'serif';
	font-size: 13px;
	color: #9297a3;
}
.content form .options .color-box.blue {
	background-color: #9fcede;
}
.content form .options .color-box.brown {
	background-color: #333743;
}
.content form .options > input[type=radio] + label:before {
	content: '';
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 5px;
    top: 0px;
}
.content form .options > input[type=radio]:checked + label:before {
	background: #000000 url(img/check.svg) 0 1px / 10px 8px no-repeat;
    width: 10px;
    height: 10px;
    color: #fff;
    border: 5px;
    top: 0;
    left: 0;
}

.content form h3 {
	font-family: 'PT Sans Narrow', 'sans-serif';
	font-size: 13px;
	font-weight: 700;
	text-align: left;

}

.content form .heading hr {
	border: none;
	height: 1px;
	margin: 5px 0;
	width: 145px;
	background: #dbdee5;
}
.options > * {
	justify-content: space-around;
}
.content form #submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 490px;
    height: 50px;
    background-color: #afa394;
    color: #fff;
	border: 0;
    border-radius: 3px;
    font-family: 'Georgia', serif;
    font-size: 13px;

}
.content .desc h3 {
	font-family: 'PT Sans Narrow', 'sans-serif';
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 5px;
}
.content .desc hr {
	margin: 0 0 20px 0;
	border: none;
	height: 1px;
	background: #dbdee5;
}
.content .desc p {
	font-family: 'Georgia', 'serif';
	font-size: 12px;
	color: #9297a3;
    line-height: 1.5em;
    padding: 0 10px;
}
footer {
	display: grid;
	grid-template-rows: 40px 60px 150px;
	grid-template-columns: 1fr;
	justify-content: center;
	padding: 0 50px;
}
.footer-over-heading {
	font-family: 'Georgia', 'serif';
	font-size: 11px;
	color: #9297a3;
	text-align: center;
	padding-top: 20px;
}
.footer-heading {
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
	color: #333743;
}
footer > ul {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 230px));
    justify-content: inherit;
    grid-column-gap: 10px;
}
footer > ul > li {
	display: grid;
	grid-template-rows: 225px 1fr 1fr;
}
footer > ul > li > h3 {
	padding-top: 10px;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #333743;
}
footer > ul > li > span {
	font-family: 'Georgia', serif;
	font-size: 11px;
	color: #9297a3;
	padding-top: 5px;
}

@media screen and (max-width: 1200px) {
	.photos {
		grid-template-rows: 1fr auto;
		grid-template-columns: auto;
	}
	.side-photos {
	    grid-template-rows: 1fr;
	    grid-template-columns: 1fr 1fr 1fr;
	    grid-row-start: 2;
	    grid-row-end: 3;
	}
	.photos > img {
	    grid-row-start: 1;
	    grid-row-end: 2;
	}
	
}
@media screen and (min-width: 1600px) {
	main {
	    grid-template-columns: 1fr 1fr;
	    padding: 20px 20vw;
	}
}
@media screen and (min-width: 801px) {
	nav.mobile-menu {
		display: none;
	}
	nav.desktop-menu {
		display: grid;
	}
}
@media screen and (max-width: 800px) {
	header {
	    grid-template-rows: none;
	}
	nav.desktop-menu {
		display: none;
	}
	nav.mobile-menu {
		display: flex;
		flex-direction: row;
	}
	nav.mobile-menu > ul {
		display: flex;
		flex-direction: row;
	}
	.right-menu .login,
	.right-menu .signup {
		display: none;
	}
	

}